.add-section{
    background-color: aliceblue;
    height: 500px;
    width: 400px;
    border-radius: 30px;
    margin-left:150px ;
    padding-top:40px;
    margin-top: 70px;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#add-section-text{
    padding-top: 70px;
    font-size: 35px;
    color: #874f41;;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
button{
    background-color:#E64833;
    height: 40px;
    width: 75px;
    border-radius: 20px;
    color: #FBE9D0;
    border: none;
    box-shadow:1px 1px 7px black ;
    text-shadow: 1px 1px 2px black;
    font-size: 15px;
    position: relative;
    top:250px;
}
button:hover{
    cursor:pointer;
    opacity: 80%;
}
.edit-section{
    background-color: aliceblue;
    height: 500px;
    width: 400px;
    border-radius: 30px;
    margin-left:60px ;
    padding-top:40px;
    margin-top: 70px;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);    
}
#edit-section-text{
    padding-top: 70px;
    font-size: 35px;
    color: #874f41;;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

.del-section{
    background-color: aliceblue;
    height: 500px;
    width: 400px;
    border-radius: 30px;
    margin-left:60px ;
    padding-top:40px;
    margin-top: 70px;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);    
}
#del-section-text{
    padding-top: 70px;
    font-size: 35px;
    color: #874f41;;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
} 
